.text-center {
  text-align: center;
}

.mx-auto {
  margin: auto;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
  justify-content: center;
}
.equals {
  background-color: yellow;
  font-weight: bold;
}
.C {
  background-color: rgb(219, 26, 26);
  font-weight: bold;
  color: aliceblue;
}
.operator {
  background-color: black;
  color: aliceblue;
  font-weight: bold;
}
